.About-card{
    /*background-color: rgb(204, 117, 55);*/
    display: flex;
    margin: 10px auto;
    width: 850px;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
}

.div-foto{
    display: inline;    
}

.foto-perfil{
    width: 40%;
    border-radius: 30px;
}

.Descripcion{  
    justify-content: center;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    background-color: rgb(121, 216, 112);
    margin: 0.3rem;
    padding: 0.8rem;
    border-radius: 6%;
}